###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto eol=lf

# Python files
*.py text diff=python eol=lf
*.pyw text diff=python eol=lf

# Streamlit files
*.streamlit/* text eol=lf

# Documentation
*.md text diff=markdown eol=lf
*.txt text eol=lf

# Configs
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Make sure these are treated as binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.pdf binary
